// variables
$h-100vh: 100vh;
// end-variables

// functions

// end-functions

// styles
body {
    font: {
        family: Arial, sans-serif;
        size: 16px;
    }
}
.app {
    color: red;
}

// end-styles
